.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin-right: 20px;
    margin-left: 20px;
}
/* shared css code */
.main-btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 20px 35px;
}
.main-color{
    background-color: #F1F1F3;
}
/* header css */
.btn-primary{
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border-color: #006A50;
    color: #006A50;
    padding: 10px 30px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px;
    align-items: center;
}
.logo{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.landing-page{
    background-color: #C6E4D6;
    display: flex;
    padding: 50px;
    border-radius: 20px;
    gap: 60px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}
.landing-page-containe{
    max-width: 586px;
}
.landing-page-subtitle{
    font-weight: 700;
    font-size: 24px;
    color: #0e0e0e7c;
}
.landing-page-title{
    font-size: 49px;
    font-weight: bold;
    color: #0E0E0E;
}
/* pilllars contains style */
.pillars-contain{
    margin-top: 70px;
    margin-bottom: 50px;
}
.contain-tittle{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.all-contain-box{
    display: flex;
    margin: 0;
}
.pillars-box-contain{
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
}
.contain-box-tittle{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0edc;
}
.contain-box-description{
    font-size: 16px;
    color: #0e0e0ea2;
}